
opencv2image/Debug/opencv2image.log
.vs/opencv2image/v14/.suo
*.exe
*.ilk
*.pdb
*.ipch
*.db
*.obj
opencv2image/Debug/opencv2image.tlog/opencv2image.lastbuildstate
*.idb
*.tlog
*.filters
*.vcxproj
*.pch
opencv2image.sln
.gitattributes
opencv2image/ReadMe.txt
